<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
    {% if title %}
      <title>{{ title }} - Kojojo</title>
    {% else %}
      <title>Welcome to Kojojo</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Kojojo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Product/List">Produits</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/Product/Search/" onsubmit="return search();">
                    <div class="form-group">
                        <input type="text" class="form-control" name="query" placeholder="Rechercher" id="search_input">
                    </div>
                </form>
                {% if not session['session_id'] %}
                    <ul class="nav navbar-nav w3-right">
                        <li><a href="/User/Register">Inscription</a></li>
                        <li><a href="/User/SignIn">Connexion</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Product/Add">Vendre un produit</a></li>
                        <li><a href="/User/Profile">Profile</a></li>
                        <li><a href="/User/SignOut">Déconnexion</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="w3-sidebar w3-bar-block" style="width:22%; top:50px;">
        {% for category in categories %}
            <a href="/Product/FromCategory/{{ category["CategoryId"] }}" class="w3-bar-item w3-button">{{ category["Type"] }}</a>
        {% endfor %}
    </div>

    <div style="margin-left: 25%; margin-right:2em;">
        <div style="min-height: 80vh;">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
        <hr />
        <footer>
            <p>powered by flask!</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %}

    <script>
        function search() {
            var s = document.getElementById('search_input');
            var url = '/Product/Search/' + s.value;
            document.location.assign(url);
            return false;
        }
    </script>
</body>
</html>