{% extends "base.html" %}

{% block content %}
    <h1>{{ product["ProductName"] }}</h1>

    <p>Prix: {{ product["Price"] }}$</p>
    <p>Description: {{ product["Description"] }}</p>
    <p>Date de mise en vente: {{ product["Date"] }}</p>
    <p>Vendu par: {{ product["UserName"] }}</p>
    {% if product["Phone"] %}
        <p>Numéro de téléphone: {{ product["Phone"] }}</p>
    {% endif %}
    <p>Email: {{ product["Email"] }}</p>
    <p>Catégorie: {{ product["Type"] }}</p>
    <p>Ville: {{ product["TownName"] }}</p>

    <br /><br />

    {% if product["FileName"] %}
        <img src="{{ url_for('static', filename='uploads/' + product["FileName"]) }}" class="w3-bar-item w3-image">
    {% else %}
        <img src="{{ url_for('static', filename='noimg.jpg') }}" class="w3-bar-item w3-image">
    {% endif %}

    <br /><br /><br /><br />

    {% if is_author %}
        <a href="/Product/Edit/{{ product["ProductId"] }}">Mettre à jour l'annonce</a> <br /><br />
        <a href="#" onclick="confirmDelete()" style="color: red">Supprimer cette annonce</a>
    {% endif %}

{% endblock %}

{% block scripts %}
<script>
function confirmDelete() {
    var ask=confirm("Voulez-vous vraiment supprimer cette annonce?\nCette action est irréversible.");
    if(ask){
      window.location="/Product/Remove/{{ product["ProductId"] }}";
    }
}
</script>
{% endblock %}